 <div class="user-details">
  <h1> INFO </h1>
  <p> {{site.username}} </p>
  <p> {{site.useremail}} </p>
  <p> {{site.userbirth}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>HTML,CSS,BOOTSTRAP5 (2021.12 ~ 2022.01)</p>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <img style ="width: 75px; height: 75px;" src="https://github.com/seheyoen/img/blob/main/JSP,Servlet.png?raw=true">
      <img style ="width: 75px; height: 75px;" src="https://github.com/seheyoen/img/blob/main/Spring.png?raw=true"> 
      <p>JSP&SERVLET, Spring(2022.01 ~ 2022.03)</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original-wordmark colored"></i>
      <img style ="width: 75px; height: 75px;" src="https://github.com/seheyoen/img/blob/main/eclipse.png?raw=true">
      <img style ="width: 75px; height: 75px;" src="https://github.com/seheyoen/img/blob/main/vscode.jpg?raw=true">
      <p>Github(Eclipse,VSCODE)</p>
      <p>Eclipse (JAVA,JSP&SERVLET)</p>
      <p>VSCODE (HTML,CSS,JS,JQUERY,BOOTSTRAP5)</p>
    </div>
</div>
