<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{"/assets/img/BoardLogin.png" / class="d-block w-100" alt="Board"}}">
        </div>
        <div class="carousel-item">
          <img src="{{"/assets/img/BoardList.png" / class="d-block w-100" alt="Board"}}">
        </div>
        <div class="carousel-item">
          <img src=""{{"/assets/img/BoardPost.png" / class="d-block w-100" alt="Board"}}">
        </div>
        <div class="carousel-item">
          <img src=""{{"/assets/img/BoardCRUD.png" / class="d-block w-100" alt="Board"}}">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="contents">
    <h3>Projcet</h3>
    <ul>
      <li>Board</li>
    </ul>
    <p>
      Eclipse-Web Developer, Tomcat, My sql 활용
      DBCP를 활용하여 My sql 연결 후 MVC2 패턴 응용하여
      로그인, 회원가입, 메인, 리스트 페이지 구현
    </p>
    <a class="project-link" href="https://github.com/seheyoen/Board.git">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Board" src="{{ "/assets/img/MARKETKurly.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project </h3>
    <ul>
      <li>Market Kurly</li>
    </ul>
    <p>마켓컬리 웹 사이트 구현</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
