<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Board" src="{{ "/assets/img/BoardCRUD.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Projcet</h3>
    <ul>
      <li>Board</li>
    </ul>
    <p>
      Eclipse-Web Developer, Tomcat, My sql 활용
      DBCP를 활용하여 My sql 연결 후 MVC2 패턴 응용하여
      로그인, 회원가입, 메인, 리스트 페이지 구현
    </p>
    <a class="project-link" href="https://github.com/seheyoen/Board.git">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Board" src="{{ "/assets/img/main.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project </h3>
    <ul>
      <li>Delivery_market</li>
    </ul>
    <p>마켓컬리 사이트를 클론코딩하여 진행한 프로젝트</p>
    <a class="project-link" href="https://github.com/parkjunh/Delivery_market/tree/master">Check it out</a>
  </div>
</div>
